extends layout

include mixins/eventCard

block content
  .container.profile
    .row
      .twelve.columns
        h2 Edit profile information
        form.update-profile-form(action='/profile' method='POST' enctype="multipart/form-data")
          label(for="email") Email
          input.update-profile-form-input(type="text" name="email" placeholder="Email" value= user.email)
          label(for="firstname") First name
          input.update-profile-form-input(type="text" name="firstname" placeholder="First name" value= user.firstname)
          label(for="lastname") Last name
          input.update-profile-form-input(type="text" name="lastname" placeholder="Last name" value= user.lastname)
          button.button-primary.button-save Save
  .dashboard-header
    h2 Your events
    form(action="/search")
      button.button-primary.button-events Browse all events
  .container.dashboard
    .upcoming-container
      div.upcoming-attending
        h3 Upcoming events you are attending
        if upcomingEvents
          each event in upcomingEvents
            +eventCard(event)
      div.upcoming-hosting
        h3 Upcoming events you are hosting
        if upcomingEventsHosted
          each event in upcomingEventsHosted
            +eventCard(event)
            section.row
    .past-container
      div.past-attended
        h3 Attended events
        if attendedEvents
          each event in attendedEvents
            +eventCard(event)
      div.past-hosted
        h3 Hosted events
        if hostedEvents
          each event in hostedEvents
            +eventCard(event)
