extends layout

include mixins/eventCard

block content
  .container.dashboard
    .dashboard-header
      h1 Events
      form(action="/search")
        button.button-primary.button-events Browse all events
    section.row
      .six.columns
          h3 Upcoming events
          if upcomingEvents
            each event in upcomingEvents
              +eventCard(event)
      .six.columns
        h3 Upcoming hosted
        if upcomingEventsHosted
          each event in upcomingEventsHosted
            +eventCard(event)
    section.row
      .six.columns
          h3 Attended
          if attendedEvents
            each event in attendedEvents
              +eventCard(event)
      .six.columns
        h3 Hosted
        if hostedEvents
          each event in hostedEvents
            +eventCard(event)
