doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/lib/skeleton/normalize.css')
    link(rel='stylesheet', href='/lib/skeleton/skeleton.css')
    link(rel='stylesheet', href='/lib/nouislider/nouislider.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flashes.css')
  body
    header
      nav
        li
          a(href="/") Main
        li
          a(href="/search") Events
        if isUserLoggedIn
          li
            a(href="/dashboard") Dashboard
          li
            a(href="/logout") Logout
        if !isUserLoggedIn
          li
            a(href="/login") Login
    if locals.flashes
      .flash-messages
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            .flash(class=`flash--${category}`)
              p.flash__text!= message
              button.flash__remove(onClick="this.parentElement.remove()") &times;
    block content
    footer.footer
      .container
        .row
          .four.columns.footer-col
            p Some content
          .four.columns.footer-col
            p More content
          .four.columns.footer-col
            p Even more
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD5ntBqVPjV3yyQueoAvdPbNYJAEnSPq4")
    script(src='/lib/jquery-3.2.1.min.js')
    script(src='/lib/nouislider/nouislider.min.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascript/mapfilters.js')
    script(src='/javascript/map.js')
    script(src='/javascript/scripts.js')
