extends layout

block content
  main(class="container")
    div(class="row")
      div(class="six columns")
        h1= title
        p Example pug usage: #{ptag}
      div(class="six columns")
        h2(class="header-h2") All users
    
          each user in users
            p(class="username-p")= user.username
