extends layout

include mixins/eventCard

block content
  section.frontpage-section-1
    h1 Generic Cooking App Name
    p Description
    p Other details
  main.container
    .row
      .twelve.columns.eventcard-container
        each event in events
          +eventCard(event)
        
