extends layout

block content
  section.frontpage-section-1
    h1 MAIN SECTION
  main.container
    .row
      .six.columns
        h2 Event cards here
      .six.columns
        h2 Event cards here
        
