extends layout

include mixins/eventCard

block content
  section.frontpage-section-1
    h1 Generic Cooking App Name
    p Enjoy delicious food made by local chefs
    p Share your own cooking and make $$$
    form(action="/search")
      button.button-primary.frontpage-button All events
  main.container
    .row
      .twelve.columns.eventcard-container-main
        if events
          each event in events
            +eventCard(event)
