extends layout

include mixins/eventCard

block content
  section.frontpage-section-1
    .mainpage-img-container
      img.main-page-img(src="/img/logo.png")
    p.main-page-p Enjoy delicious food made by local chefs or host your own event
    form(action="/search")
      button.frontpage-button All events
  .container.frontpage-container-1
    .row
      .twelve.columns.eventcard-container-main
        if events
          each event in events
            +eventCard(event)
