extends layout

block content
  .container
    .row
      .six.columns
        form(action="/signup" method="POST")
          h2 New Event
          label(for="email") Email*
          input(type="text" name="email" placeholder="Email" value=body ? body.email : '' required)
          label(for="password") Password*
          input(type="password" name="password" placeholder="Password" required)
          label(for="passwordconfirm") Confirm password
          input(type="password" name="passwordconfirm" placeholder="Confirm password" required)
          label(for="firstname") First name
          input(type="text" name="firstname" placeholder="First name" value=body ? body.firstname : '')
          label(for="lastname") Last name
          input(type="text" name="lastname" placeholder="Last name" value=body ? body.lastname : '')
          button.button-primary.button-signup Create account
