extends layout

include mixins/eventCard

block content
  .search-container
    .map
      #googlemap
    .eventcard-container.map-page
      .filterbar
        .dateslider-container
          span Date
          #slider-date
          #event-start
          #event-end
        .priceslider-container
          span Price
          #slider-price
          #price-div-min
          #price-div-max
          #price
      #mapevents
