extends layout

include mixins/eventCard

block content
  .search-container
    .map
      #googlemap
    .eventcard-container.map-page
      if events
        each event in events
          +eventCard(event)
