extends layout

include mixins/eventCard

block content
  .filterbar
    .date-container
      .date-block
      label.fromdate-label(for="fromdate") From
        input#fromdate.date-input(type="date" name="fromdate")
      .date-block
      label.todate-label(for="todate") To
        input#todate.date-input(type="date" name="todate")
    .priceslider-container
      p.price-p Price
      #slider-price
      #price-div-min
      #price-div-max
      #price
  h2.search-title Find an event near you
  .search-container
    .map
      #googlemap
    .eventcard-container.map-page
      #mapevents
