html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
  min-height: 100%;
}

nav {
  height: 100px;
}

nav li {
  display: inline;
  margin: 10px;
  float: left;
  font-size: 1.3rem;
}

nav li:last-of-type {
  float: right;
}

.header-h2 {
  color: red;
}

.username-p {
  color: green;
}

.columns {
  word-wrap: break-word;
}

.frontpage-section-1 {
  text-align: center;
}

.frontpage-button {
  margin-top: 2rem;
}

#mapevents,
.eventcard-container-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
}

.filterbar {
  height: 8%;
  width: 100%;
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.date-container {
  display: flex;
  flex-direction: column;
}

.date-container input {
  width: 200px;
  margin: 0;
}

.price-p {
  margin-bottom: 10px;
  font-weight: bold;
}

.fromdate-label,
.todate-label {
  display: inline;
  float: left;
  margin-right: 10px;
}

#slider-price {
  margin-bottom: 5px;
  width: 65%;
}

.noUi-handle:focus {
  outline: none;
}

.eventcard {
  min-width: 25%;
  border: 1px solid grey;
  width: 250px;
  height: 150px;
  margin: 1rem;
  padding: 10px;
  box-sizing: border-box;
}

.eventcard p {
  margin: 0;
}

.map {
  margin: 0;
  height: 60vh;
}

#googlemap {
  width: 100%;
  height: 100%;
}

.eventcard-container.map-page {
  margin: 0;
  overflow-y: auto;
}

.button-login,
.button-signup,
.button-save {
  display: block;
}

.button-events {
  margin-left: 50px;
  margin-top: 10px;
}

.staticmap {
  width: 100%;
  border-radius: 3px;
}

.eventimg {
  width: 100%;
  height: 280px;
  border: 1px solid black;
}

.eventdetails p {
  margin: 0;
}

.button-eventdescription {
  border: none;
  padding: 0;
}

.p-eventdescription {
  display: none;
}

.form-attending {
  margin: 0;
}

.button-attending {
  background: #1fdd67;
  color: black;
  margin-top: 10px;
}

.button-cancel {
  background: #ed4b4b;
  color: black;
  margin-top: 10px;
}

.attending-notice {
  color: #1fdd67;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
}

.dashboard,
.profile,
.login,
.newevent,
.singleevent {
  height: 100vh;
}

.singleevent {
  margin-bottom: 100px;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  nav li {
    margin: 15px;
  }
  .frontpage-button {
    margin-top: 2rem;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .map {
    height: 100vh;
  }
  nav li {
    margin: 20px;
    font-size: inherit;
  }
  .filterbar {
    flex-direction: row;
    height: 15%;
  }
  .priceslider-container,
  .date-container {
    width: 50%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {

  .search-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  .filterbar {
    height: 22%;
    flex-direction: column;
  }
  .map {
    width: 60%;
  }
  .eventcard-container.map-page {
    width: 40%;
  }
  .eventimg {
    height: 500px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .frontpage-section-1,
  .frontpage-container-1 {
    height: 40vh;
  }
  .filterbar {
    flex-direction: row;
    height: 15%;
  }
  .priceslider-container,
  .date-container {
    width: 50%;
  }
}
