html,
body {
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  border-bottom: 1px solid black;
  height: 100px;
}

nav li {
  display: inline;
  margin: 20px;
}

.header-h2 {
  color: red;
}

.username-p {
  color: green;
}

.columns {
  word-wrap: break-word;
}

.frontpage-section-1 {
  height: 50vh;
  border-bottom: 1px solid black;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
}

.footer-col {
  text-align: center;
}
