html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
  min-height: 100%;
}

nav {
  height: 100px;
}

nav li {
  display: inline;
  margin: 10px;
  float: left;
  font-size: 1.2rem;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav li a:hover {
  color: #937b57;
}

nav li:last-of-type {
  float: right;
}

button {
  border-radius: 0;
}

.newevent-main-li {
  display: none;
}

.mainpage-img-container {
  width: 100%;
  height: 70px;
  display: block;
}

.main-page-img {
  margin: 0 auto;
  width: 170px;
  height: 70px;
  display: block;
}

.main-page-p {
  display: block;
  margin-top: 20px;
}

.header-h2 {
  color: red;
}

.username-p {
  color: green;
}

.columns {
  word-wrap: break-word;
}

.frontpage-section-1 {
  text-align: center;
  background-image: url('')
}

.frontpage-button {
  margin-top: 2rem;
  background-color: #937b57;
  color: black;
}

#mapevents,
.eventcard-container-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.filterbar {
  height: 5%;
  width: 100%;
  margin-top: 20px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.date-container {
  width: 50%;
  display: block;
  flex-direction: column;
}

.date-container input, label {
  display: block;
}

.date-container input {
  width: 200px;
  margin: 0;
}

.priceslider-container {
  margin-bottom: 10px;
  border-bottom: solid 1px black;
}

.price-p {
  margin-bottom: 10px;
  font-weight: bold;
}

.fromdate-label,
.todate-label {
  display: inline;
  float: left;
  margin-right: 10px;
}

#slider-price {
  width: 65%;
}

.noUi-handle:focus {
  outline: none;
}

.eventcard {
  min-width: 25%;
  border: solid 2px #937b57;
  width: 450px;
  height: 150px;
  margin: 1rem;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
}

.event-card-info {
  width: 55%;
  position: relative;
  margin-left: 10px;
  float: right;
  font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: black;
  display: inline-block;
}

.event-title,
.main-page-p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #937b57;
}

.event-card-image {
  display: none;
}

.event-card-image img {
  display: none;
}

.eventcard p {
  margin: 0;
}

.map {
  margin: 0;
  height: 60vh;
}

#googlemap {
  width: 100%;
  height: 100%;
}

.eventcard-container.map-page {
  margin: 0;
  overflow-y: auto;
}

.button-login,
.button-signup,
.button-save {
  display: block;
}

.button-events {
  margin-left: 50px;
  margin-top: 10px;
}

.staticmap {
  width: 100%;
  border-radius: 3px;
}

.eventimg {
  width: 100%;
  height: 280px;
}

.eventdetails p {
  margin: 0;
}

.button-eventdescription {
  border: none;
  padding: 0;
}

.event-button-container {
  text-align: center;
}

.event-button-container button {
  width: 100%;
}

.p-eventdescription {
  margin-top: 10px;
}

.form-attending {
  margin: 0;
}

.button-attending {
  background: #a58d6a;
  color: black;
  margin-top: 10px;
}

.button-cancel {
  background: #ed4b4b;
  color: black;
  margin-top: 10px;
}

.attending-notice {
  color: #1fdd67;
}

.past-notice {
  color: #ed4b4b;
}

.dashboard-header {
  display: flex;
  flex-direction: row;
}

.dashboard,
.profile,
.login,
.newevent,
.singleevent {
  height: 100vh;
}

.singleevent {
  margin-bottom: 100px;
}

.event-name,
.event-host {
  margin: 0;
}

.placesleft {
  color: #107175;
  font-weight: bold;
}

.newevent-formcontainer {
  display: flex;
  flex-direction: column;
}

.newevent-formcontainer input[type="text"],
.newevent-formcontainer input[type="time"],
.newevent-formcontainer input[type="number"],
.newevent-formcontainer input[type="date"] {
  max-width: 250px;
}

.newevent-h2-container {
  width: 85%;
  margin: 0 auto;
  max-width: 960px;
}

.updateeventimg {
  width: 50%;

/* Review styles */

.review-form {
  display: flex;
  flex-direction: column;
}

.review-form label {
  margin-right: 10px;
}

.review-rating-label {
  margin-left: 10px;
}

.reviewcard {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #937b57;
  padding: 10px;
  width: 90%;
}

.reviewer {
  font-weight: bold;
  margin-right: 120px;
}

.review-p-rating {
  font-weight: bold;
>>>>>>> a6c5410552f8b14dd006e91bdc5aed22edfb5b87
}

.review-p-description {
  margin: 0;
}

.new-review {
  margin-top: 10px;
}


/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  nav li {
    margin: 15px;
  }
  .frontpage-button {
    margin-top: 2rem;
  }
  .event-card-image {
    width: 120px;
    height: 80px;
    float: left;
    margin-top: 20px;
    position: absolute;
    display: inline-block;
  }

  .event-card-image img {
    width: 120px;
    height: 80px;
    margin-top: 10px;
    overflow: hidden;
    display: inline-block;
  }

}


/* Larger than phablet */
@media (min-width: 550px) {
  .map {
    height: 100vh;
  }
  nav li {
    margin: 17.5px;
    font-size: inherit;
  }

  .newevent-main-li {
    display: inherit;
  }

  .filterbar {
    flex-direction: row;
    height: 15%;
  }
  .priceslider-container,
  .date-container {
    width: 50%;
  }

  .newevent-h2-container {
    width: 80%;
  }

  .newevent-formcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .newevent-col-1,
  .newevent-col-2,
  .newevent-col-3 {
    display: flex;
    flex-direction: column;
  }

  .newevent-col-1,
  .newevent-col-2 {
    width: 50%;
  }

  .newevent-col-3 {
    width: 100%;
  }

  .event-card-image {
    width: 40%;
    height: 135px;
    float: left;
    margin-top: 0px;
    position: absolute;
    display: inline-block;
  }

  .event-card-image img {
    width: 100%;
    height: 135px;
    margin-top: 0px;
    overflow: hidden;
    display: inline-block;
  }
  .event-button-container button {
    width: 65%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {

  .search-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  .filterbar {
    height: 22%;
    flex-direction: column;
  }
  .map {
    width: 50%;
  }

  .eventcard-container.map-page {
    width: 50%;
  }
  .eventimg {
    height: 500px;
  }
  .event-card-image {
    width: 40%;
    height: 135px;
    float: left;
    position: absolute;
    display: inline-block;
  }

  .event-card-image img {
    width: 100%;
    max-height: 135px;
    overflow: hidden;
    display: inline-block;
  }

  .mainpage-img-container img {
    float: left;
  }

  .main-page-p {
    text-align: left;
    margin-left: 30px;
    font-size: 34px;
  }

  .mainpage-img-container {
    margin-left: 20px;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {

  .review-form {
    display: flex;
    flex-direction: row;
  }

  .review-description {
    width: 40%;
  }

  .reviewcard {
    width: 70%;
  }

  .review-save {
    margin-left: 10px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .frontpage-section-1,
  .frontpage-container-1 {
    height: 40vh;
  }
  .filterbar {
    flex-direction: row;
    height: 15%;
  }
  .priceslider-container,
  .date-container {
    width: 50%;
  }
}
